.primary-nav {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  li {
    padding-right: 1rem;

    &:last-child {
      padding-right: 0;
    }

    @mixin atMedium {
      padding-right: 2rem;

      &:last-child {
        padding-right: 2rem;
      }
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    /* Needs to be display block so that padding will work */
    display: block;
    padding: 12px 0;
  }

  a:hover {
    color: $mainOrange;
  }

  &--pull-right {

    /* Only pull right on medium plus screens */ 
    @mixin atMedium {
      float: right;
    }
  }
}