.row {
  display: grid;
  grid-template-columns: 1fr;
  
  @mixin atMedium {

    grid-template-columns: repeat(12, 1fr);

    &--left-gutter {
      padding-left: 4rem;
    }

    &__medium-4 {
      grid-column: 1 / span 4;
    }

    &__medium-8 {
      grid-column: 5 / span 8;
    }
  }
}