.row {
  display: grid;
  grid-template-columns: 1fr;
  
  @mixin atMedium {

    grid-template-columns: repeat(6, 1fr);
    
    &--left-gutter {
      padding-left: 4rem;
    }

    &--right-gutter {
      padding-right: 4rem;
    }

    &--gutters-small {
      grid-gap: 3rem;
    }

    &--t-padding {
      padding-top: 80px;
    }

    &__medium-4 {
      grid-column: span 2;
    }

    &__medium-6 {
      grid-column: span 3;
    }

    &__medium-8 {
      grid-column: span 4;
    }
  }
}